*{
    margin: 0;
    padding: 0;
}
.sidenav{
    position: fixed;
    height: 100vh;
    width: 24%;
    background-color: lightgreen;
    border-right: 8px #FF7F3E solid;


}
.sidenav ul{
    padding-top: 30px;
    margin-left: 40px;
    list-style: none;
    font-size: 40px;
    color: white;

}
ul li{
    padding-top: 45px;
}
.main{
    margin-left: 25%;
    /* background-color: red; */
}
a{
    color: white;
    text-decoration: none;
}
.box-parent{
    padding-top: 20px;
    display: flex;
    gap: 20px;
}
.box{
    background-color: lightblue;
    width: 300px;
    height: 200px;

}
#box1{
    border-bottom: 8px yellowgreen solid;
}
#box2{
    border-bottom: 8px rebeccapurple solid;
}
#box3{
    border-bottom: 8px brown solid;
}
@media screen and (max-width : 600px){
    .sidenav{
        
        position: fixed;
        background-color: #86b6ff;
        height:100vh;
        width: 30%;
        border-right: 4px solid rgb(0, 0, 0) ;
    }
    .sidenav ul {

        padding-top: 20px;
        list-style: none;
        font-size: 20px;
        margin-left: 10px;
        color: rgb(255, 255, 255);
    }
    .main h1{
        padding-top: 200px;
        text-align: center;
    }
    ul li{
        color: black;
        padding-top: 70px;
    }
    a{
        color: black;
    }
}